.Leftbar{
    width: 18%;
    display: flex;
    flex-direction: column;
    // width: 20%;
    position: fixed;
    top: 18vh;
    min-height: 100vh;
    background-color: #293040;
    ul{
        color: #f7d689;
        list-style-type: none;
        li{
            font-size: 15px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}