.Leftbar{
    display: flex;
    flex-direction: column;
    width: 15%;
    position: fixed;
    top: 15vh;
    background-color: #293040;
    ul{
        gap: 20px;
        color: #f9e7bf;
        list-style-type: none;
        li{
            &:hover{
                cursor: pointer;
            }
        }
    }
}